.signup-page {
    max-width: 420px;
    margin: 4rem auto;
  }
  
  .signup-page h1 {
    font-family: var(--font-3);
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .signup-page label {
    display: block;
    margin-bottom: 1rem;
  }
  
  .signup-page input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
  }
  
  .login-link {
    margin-top: 1rem;
  }
  